Zerofox = {
    'proxies':{
        'http': '',
        'https': ''
    },
    #'post_process_action': {
    #    'action': 'review',
    #    'action_params': {
    #        'actor': 'admin@example.com'
    #    }
    #},
    'url': '',
    'key': '',
    'verify': True
}

TheHive = {
    'proxies':{
      'http': '',
      'https': ''
    },
    'url':'',
    'key':'',
    'template': ''
}
